body {
	margin:0;
	}
header {
	background-color: pink;
	padding:40px;
	text-align: center;
	font-weight:bold;
	}
h1 {
	text-align: center;
	color: purple;
	font-size: 40px;
	font-weight: bold;
	text-transform:uppercase;
	margin-left: 0;
	}
a {
	color: purple; 
	text-decoration: none;
	margin-right: 10px;
	}
nav {
	text-align: center;
	}
main {
	background-color: #774181;
	padding: 20px;
	color: white;
	min-height: 600px;
	}
h2 {
	text-align: center;
	text-decoration: underline;
	}
h3 {
	text-transform: uppercase;
	font-weight:bold;
	}
img {
	margin: auto;
	width:30%;
	display: inline-block;
	}
p {
	text-align: justify;
	}
footer { 
		background-color: #bd95ed;
		font-size: 14px;
		padding: 10px
		}